*{
    padding: 0;
    margin: 0;
}

#menu{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid black;
    width: 30%;
    height: 100px;
    padding-top: 20;
    padding-left: 20;
    margin-left: 50%;
    transform: translateX(-50%);
    position: relative;
    top: 300px;
}

.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  text-align: center;
}

.reponses {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-top: 30px;
}

.btn-reponse {
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
}