*{
    padding: 0;
    margin: 0;
}

#menu{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid black;
    width: 30%;
    height: 100px;
    padding-top: 20;
    padding-left: 20;
    margin-left: 50%;
    transform: translateX(-50%);
    position: relative;
    top: 300px;
}